<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <button class="links"><a href="index.html">Главная</a></button>
        <table class="table">
            <tr>
                <td>
                    Контакты
                </td>
                <td>
                    Школа
                </td>
                <td>
                    Я
                </td>
            </tr>
            <tr>
                <td>
                    Номер
                </td>
                <td>
                    (017)222-10-10
                </td>
                <td>
                    +375295667996
                </td>
            </tr>
            <tr>
                <td>
                    VK/INST/TG
                </td>
                <td>
                    <a href="t.me/school30_info">Телеграм</a>
                </td>
                <td>
                    <a href="#">Что-то</a>
                </td>
            </tr>
        </table>

    </div>
</body>

</html>